.badge {
    background-color: #000 !important;
    color: white !important;
}

.pagination {
    margin-bottom: 2rem;
}

.page-item.active .page-link {
    background-color: #000;
    border-color: #000;
}

.page-link {
    color: #000;
}

.page-link:hover {
    color: #666;
}